.vscode/*
!.vscode/settings.json
!.vscode/localTasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

node_modules/
dist/
build/
\.DS_Store
\.idea/